config.log
config.status
configure
install-sh
py-compile
missing
ovirt-image-uploader.spec
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.rpath
config.sub
ABOUT-NLS
tmp.*
*.pyc
*.pyo
*~
*.sw?
src/config.py
src/logrotate.d/ovirt-image-uploader
